<h1>Anagrams</h1>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="word1">Word #1</label>
    <input id="$word1" name="word1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word2">Word #2</label>
    <input id="$word2" name="word2" class="form-control" type="text">
  </div>
   <button type="submit" class="btn">Are they anagrams?</button>
 </form>
